[ req ]
prompt              = no
default_bits        = 2048
default_md          = sha256
distinguished_name  = req_distinguished_name 
req_extensions      = v3_req
[ req_distinguished_name ]
CN              = kube.lime.lan
C               = US
ST              = MD
L               = AAC
O               = DisselTree
OU              = ops
emailAddress    = admin@kube.lime.lan
[ v3_req ]
subjectAltName      = @alt_names
keyUsage            = digitalSignature
extendedKeyUsage    = serverAuth
[ alt_names ]
DNS.1 = kube.lime.lan
DNS.2 = *.kube.lime.lan
